# dependencies
node_modules/
# logs
logs/*
!logs/README.md
# personal files
package-lock.json
creds.bin
schedule_lineup.json
lineup.json
ffmpeg.exe
StartUpProcedures.txt
*.exe
*.zip
tempGuide/*
guide.xml
schedule_guide.json
#test files
test*