name: Docker Image CI

env:
  IMAGE_NAME: tablo2plex

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
    - uses: actions/checkout@v4

    - name: Log in to GHCR
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Set image tag
      id: vars
      run: echo "TAG=$(date +%s)" >> $GITHUB_ENV

    - name: Build Docker image
      run: |
        docker build . \
          --file Dockerfile \
          --tag ghcr.io/${{ github.repository_owner }}/${{ env.IMAGE_NAME }}:latest \
          --tag ghcr.io/${{ github.repository_owner }}/${{ env.IMAGE_NAME }}:${TAG}

    - name: Push Docker image
      run: |
        docker push ghcr.io/${{ github.repository_owner }}/${{ env.IMAGE_NAME }}:latest
        docker push ghcr.io/${{ github.repository_owner }}/${{ env.IMAGE_NAME }}:${TAG}
